* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background {
    position: absolute;
    z-index: -1;
}

.btn-custom {
        background-color: #7132b9b0;
        color: #fff;
        font-size: 1.2rem;
        // height: 3.5rem;
        border: none;
        border-radius: 10px;
        transition: 300ms;
        &:hover {
            background-color: #7132b9;
        }
        &:disabled {
            background-color: #7132b940;
            color: #aaa;
        }

        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }
    }
